{% extends 'base.html.twig' %}

{% block title %}Hello CalculatorController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Code Test: Symfony Calculator</h1>

    {% if errors is defined %}
        <ul class="validation-error">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ include('components/calculator_form.html.twig') }}
</div>
{% endblock %}
