{# 
    Input text field

    args:
        name
        classes
#}

{% set class = classes is not defined ? 'input input--text' : 'input input--text' ~ classes %}
{% set placeholder_text = placeholder is not defined ? null : placeholder %}
{% set input_type = type is not defined ? 'text' : type %}
{% set id = id is not defined ? 'input--' ~ name : id %}
{% set value = value is not defined ? null : value %}

{% if label is defined and id is defined %}
<label for="{{ id }}">{{ label }}
{% endif %}
<input id="{{ id }}" type="{{ type }}" name="{{ name }}" class="{{ class }}" placeholder="{{ placeholder_text }}" value="{{ value }}">
{% if label is defined and id is defined %}
</label>
{% endif %}