<div class="calculator">
    <form action="{{ absolute_url('/') }}" method="post">
        <div class="calculator-input">
            {{ include('elements/form_input.html.twig', {name: 'first_number', type: 'number', placeholder: 'First Number'}) }}
        </div>
        <div class="calculator-input calculator-input--radios">
            {% for operator in operators %}
                {{ include('elements/form_input.html.twig', {name: 'operator', type: 'radio', label: operator, id: 'calculator-radio--' ~ operator,  value: operator}) }}<br>
            {% endfor %}
        </div>
        <div class="calculator-input">
            {{ include('elements/form_input.html.twig', {name: 'second_number', type: 'number', placeholder: 'Second Number'}) }}
        </div>  
        <div class="calculator-input">
            <button type="submit">Submit</button>
        </div>  
    </form>
    {% if result is defined %}
    <div class="result">
        {{ result }}
    </div>
    {% endif %}
</div>